// Copy this file as Secrets.xcconfig and fill in your values.
// Secrets.xcconfig is gitignored and will NOT be pushed to version control.
SLASH = /
SUPABASE_URL = YOUR_SUPABASE_URL_HERE
SUPABASE_ANON_KEY = YOUR_SUPABASE_ANON_KEY_HERE
CDN_URL= YOUR_CDN_URL_HERE
KHAOOGULLY_API_KEY= YOUR_KHAOOGULLY_API_KEY_HERE
KHAOOGULLY_BASE_URL= YOUR_HAOOGULLY_BASE_URL_HERE