<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>PORTAL_BASE</key>
	<string>https://kiitportal.kiituniversity.net</string>
	<key>WD_PATH</key>
	<string>/sap/bc/webdynpro/sap/ZWDA_HRIQ_ST_ATTENDANCE</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>GOOGLE_SERVER_CLIENT_ID</key>
	<string>$(GOOGLE_SERVER_CLIENT_ID)</string>
	<key>CDN_URL</key>
	<string>$(CDN_URL)</string>
	<key>KHAOOGULLY_API_KEY</key>
	<string>$(KHAOOGULLY_API_KEY)</string>
	<key>KHAOOGULLY_BASE_URL</key>
	<string>$(KHAOOGULLY_BASE_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kito.app.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.kito.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kiito</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
